@import "src/components/common/sizes";

:host {
  display: block;

  .feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;

    @include sizes();
  }
}
