:host {
  display: flex;
  flex-direction: column;

  .category-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: var(--size-m) var(--size-s);

    &-label {
      font-family: var(--heading-font-family);
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-bold);
      text-transform: uppercase;
    }

    &-circle {
      height: var(--size-m);
      width: var(--size-m);
      border-radius: 50%;
      margin-right: var(--size-s);
    }

    &-text-container {
      display: flex;
      flex-direction: column;
      font-size: var(--body-font-size);
    }

    .delete-button {
      margin-left: var(--size-s);
    }
  }

  .input {
    display: flex;
    padding: var(--size-s);
    align-items: flex-end;
  }

  .selected-category {
    display: flex;
    align-items: center;
  }

  .margin-left-s {
    margin-left: var(--size-s);
  }

  .full-width {
    width: 100%;
  }

  .fill {
    flex: 1;
    min-height: 1px;
  }

  .spacer-s {
    width: var(--size-s);
    height: 1px;
  }
}
