:host {
  display: flex;
  flex-direction: column;

  .divider {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    color: var(--background);
    font-size: var(--body-font-size);
    padding: var(--size-s);
  }

  .input {
    display: flex;
    padding: var(--size-s);
    align-items: flex-end;
  }

  .margin-left-s {
    margin-left: var(--size-s);
  }

  .full-width {
    width: 100%;
  }

  .fill {
    flex: 1;
  }

  .spacer-s {
    width: var(--size-s);
    height: 1px;
  }
}
