:host {
  display: block;

  .dialog {
    position: relative;
    max-height: 75vh;
    overflow-y: scroll;
    max-width: 50rem;

    &-header {
      position: sticky;
      width: 100%;
      background-color: var(--background);
      top: 0;
      // needed as otherwise on hover or select of an item it will overlap the header
      z-index: 100;

      > div {
        position: relative;
        padding: var(--size-s);
      }
    }

    &-body {
      .category-item {
        display: flex;
        flex-direction: column;

        &-body {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: var(--size-s);
          cursor: pointer;
          background-color: var(--background);
          transition: filter 0.2s cubic-bezier(0.56, 0.06, 0.05, 0.95);

          &:hover {
            filter: brightness(0.8);
          }

          &.selected {
            filter: brightness(0.8);
          }

          &-circle {
            height: var(--size-m);
            width: var(--size-m);
            margin-right: var(--size-s);
            border-radius: 50%;
          }

          &-name {
            font-weight: var(--font-weight-medium);
            font-size: var(--body-font-size)
          }
        }

        &-divider {
          height: 0.3rem;
          background-color: var(--primary);
        }
      }
    }
  }

  .full-width {
    width: 100%;
  }
}
