@import '../../common/layout';

:host {
  display: block;

  @include page-layout();

  .status-container {
    margin-bottom: var(--size-xxl);
    max-width: 18.6rem;

    h1 { margin: 0; }
    h4 { margin: 0 0 var(--size-s); }

    .button-space {
      height: 1px;
      width: var(--size-sm);
    }
  }
}
