@import '../../common/layout';

:host {
  display: block;

  @include page-layout();

  .body div {
    display: flex;
    align-items: center;
    flex-direction: column;

    .status-container {
      margin-bottom: var(--size-l);
      min-width: 100%;
      padding: var(--size-m);
      background-color: var(--background-dark);

      display: flex;
      align-items: center;
      flex-direction: column;

      h1 {
        margin: 0;
        margin-bottom: var(--size-m);
      }

      h4 {
        margin: 0 0 var(--size-s);
        text-align: center;
      }

      .button-space {
        height: 1px;
        width: var(--size-sm);
      }

    }
  }
}
