:host {
  ::slotted([slot="controls"]) {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .edit-item {
    display: flex;
    padding: var(--size-s);

    &-label {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-title {
        font-size: var(--font-size-m);
        font-family: var(--heading-font-family);
      }

      &-amount {
        font-size: var(--body-font-size)
      }

      &-novalue {
        display: flex;
        font-size: var(--body-font-size);
      }
    }

    .category {
      display: flex;
      align-items: center;
      font-size: var(--small-font-size);
      margin-bottom: var(--size-xs);

       &-circle {
         height: var(--size-s);
         width: var(--size-s);
         margin-right: var(--size-xs);
         border-radius: 50%;
       }
    }
  }

  .fill {
    flex: 1;
  }
}
