/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0px;
  padding: 0px;
  background: var(--background);
  font-family: var(--heading-font-family);
  color: var(--foreground);

  p {
    font-size: var(--body-font-size);
  }
}

html {
  // 1rem = 10px
  font-size: 10px;
}

:root {
  --heading-font-family: 'Montserrat', sans-serif;

  --body-font-family: Arial, sans-serif;
  --body-font-size: 1.6rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --primary: #000000;

  --background: #D8D8D8;
  --background-light: darken(var(--background), 20);

  --foreground: #000000;

  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 3rem;
  --spacing-xl: 4rem;
}
