/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0;
  background: var(--background);
  font-family: var(--body-font-family);
  color: var(--foreground);

  h1, h2, h3, h4 {
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight-bold);
  }

  h1 { font-size: var(--font-size-xxl); }
  h2 { font-size: var(--font-size-xl); }
  h3 { font-size: var(--font-size-l); }
  h4 { font-size: var(--font-size-m); }

  p {
    font-size: var(--body-font-size);
  }
}

html {
  // 1rem = 10px
  font-size: 10px;
  user-select: none;
}

:root {
  // fonts
  --heading-font-family: sommet-rounded, sans-serif;
  --body-font-family: 'PT Sans', sans-serif;

  --body-font-size: var(--font-size-s);
  --small-font-size: 1.2rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 700;
  --font-weight-bold: 900;

  --font-size-xxl: 3.2rem;
  --font-size-xl: 2.6rem;
  --font-size-l: 2.2rem;
  --font-size-m: 1.8rem;
  --font-size-s: 1.6rem;

  // colors
  --primary: #bf9577;
  --background: #424366;
  --background-light: #6b6da3;
  --background-dark: #3a3b59;
  --error: #c34949;
  --success: #3B9042;
  --foreground: #E2E2E2;

  // spacing
  --size-xs: 0.6rem;
  --size-s: 1.2rem;
  --size-sm: 2rem;
  --size-m: 2.4rem;
  --size-l: 3.6rem;
  --size-xl: 4.8rem;
  --size-xxl: 6rem;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
