.grow {
  flex-grow: 1;
}

#output {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.canvas {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
}

.background {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#rotateButton {
  position: fixed;
  right: 16px;
  bottom: 66px;
}
