.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-light);
  text-align: center;
  color: var(--foreground);
  border: none;
  font-size: var(--body-font-size);
  text-transform: uppercase;
  transition: all 0.15s ease;
  cursor: pointer;
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-regular);
  height: 3rem;

  padding-left: 1rem;
  padding-right: 1rem;

  &--shadow {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }

  &--primary {
    background: var(--primary);
    color: var(--background);
    font-weight: var(--font-weight-bold);
  }
}

.grow {
  flex-grow: 1;
}

#output {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.canvas {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
}

.background {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#rotate {
  position: fixed;
  right: 16px;
  bottom: 66px;
}
