:host {
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: var(--size-s);
    min-height: 100vh;

    .content {
      width: fit-content;
      height: fit-content;
      background-color: var(--background);
    }
  }
}

