:host {
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: var(--size-s);
    margin-top: var(--size-l);

    .content {
      width: 100%;
      background-color: var(--background);
      border-radius: 1.9rem;
      box-shadow: 0 0 19px 0 rgba(0,0,0,0.16);
    }
  }
}

