.button {
  background: var(--background-light);
  text-align: center;
  color: var(--foreground);
  border: none;
  font-size: var(--body-font-size);
  text-transform: lowercase;
  padding: 16px 20px;
  border-radius: 2px;
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
  flex-grow: 1;
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-regular);

  &--shadow {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }

  &--primary {
    background: var(--primary);
    font-weight: var(--font-weight-bold);
  }
}

#output {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.canvas {
  width: 100%;
}

.controls {
  display: flex;
}

.background {
  background-color: rgba(40, 40, 40, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
