:host {
  .divider {
    display: flex;
    align-items: center;
    background-color: var(--background-dark);
    color: var(--foreground);
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-m);
    padding: var(--size-s);
  }

  .fill {
    flex: 1;
  }

  .spacer-xs {
    width: var(--size-xs);
  }

  .margin-left-xs {
    margin-left: var(--size-xs);
  }

  .no-entries-text {
    font-size: var(--body-font-size);
  }

  .no-entries-container {
    padding-left: var(--size-s);
    padding-right: var(--size-s);
  }
}
