:host {
  .divider {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    color: var(--background);
    font-size: var(--body-font-size);
    padding: var(--size-s);
  }

  .fill {
    flex: 1;
  }

  .spacer-xs {
    width: var(--size-xs);
  }
}
