@import "../../../global/sizes";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button-round {
    box-sizing: border-box;
    border-radius: 50%;
    background-color: var(--background);
    --border-size: 0.3rem;
    border: var(--border-size) solid var(--foreground);
    color: var(--foreground);
    transition: transform 0.05s ease;
    outline: none;
    padding: 0;
    cursor: pointer;


    &:active {
      transform: scale(1.05);
    }

    @include sizes();

    &--primary {
      border-color: var(--primary);
      background: var(--primary);
      color: var(--background);
    }

    &--primary-outline {
      border-color: var(--primary);
    }
  }

  .label {
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    color: var(--foreground);
    background: none;
    margin-top: var(--size-xs);
    font-weight: var(--font-weight-bold);

    &.button-round--primary, &.button-round--primary-outline {
      color: var(--primary);
    }
  }
}
