:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button-round {
    box-sizing: border-box;
    border-radius: 50%;
    background-color: var(--background);
    --border-size: 0.3rem;
    border: var(--border-size) solid var(--foreground);
    color: var(--foreground);
    transition: transform 0.05s ease;
    outline: none;
    padding: 0;
    cursor: pointer;


    &:active {
      transform: scale(1.05);
    }

    &.xs {
      min-height: var(--size-xs);
      min-width: var(--size-xs);
    }

    &.s {
      min-height: var(--size-s);
      min-width: var(--size-s);
    }

    &.m {
      min-height: var(--size-m);
      min-width: var(--size-m);
    }

    &.l {
      min-height: var(--size-l);
      min-width: var(--size-l);
    }

    &.xl {
      min-height: var(--size-xl);
      min-width: var(--size-xl);
    }

    &.xxl {
      min-height: var(--size-xxl);
      min-width: var(--size-xxl);
    }

    &--primary {
      border-color: var(--primary);
      background: var(--primary);
      color: var(--background);
    }

    &--primary-outline {
      border-color: var(--primary);
    }
  }

  .label {
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    color: var(--foreground);
    background: none;
    margin-top: var(--size-xs);

    &.button-round--primary, &.button-round--primary-outline {
      color: var(--primary);
    }
  }
}
