:host {
  all: initial;
  display: block;
}

.button {
  box-sizing: border-box;
  // we make sure that the button has a certain height by calculating the padding
  --button-height: var(--size-l);
  --font-size: var(--body-font-size);
  --padding-top-bottom: calc((var(--button-height) - var(--body-font-size)) / 2);
  --padding-left-right: calc(var(--padding-top-bottom) * 2);

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-light);
  text-align: center;
  color: var(--foreground);
  border: none;
  border-radius: 2px;
  font-size: var(--font-size);
  // if set to normal (default), we have a box around the letter, which itself can have some padding.
  // because we want to have full control of the size of the button, the line height is the same as the font-size.
  line-height: var(--font-size);
  text-transform: uppercase;
  transition: all 0.05s ease;
  cursor: pointer;
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-regular);

  white-space: nowrap;

  padding: var(--padding-top-bottom) var(--padding-left-right);

  outline: none;

  &--primary {
    background: var(--primary);
    color: var(--background);
    font-weight: var(--font-weight-bold);
  }

  &--inverted {
    background: var(--primary);
    color: var(--background);
    border: 3px solid var(--background);
  }

  &--full-width {
    width: 100%;
  }

  &:active {
    transform: scale(1.05);
  }

  &[disabled] {
    filter: brightness(0.3);
    cursor: initial;

    &:active {
      transform: initial;
    }
  }
}
