@import '../../common/typography';
@import '../../common/dialog';

@include typography();
@include dialog();

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

#output {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.canvas {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  background-color: var(--background-dark);
  padding-left: var(--size-s);
  padding-right: var(--size-s);
}

.background {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.back-button {
  position: fixed;
  left: 1.6rem;
  bottom: 7.6rem;
}

.image-editing-controls {
  position: fixed;
  right: 1.6rem;
  bottom: 7.6rem;

  app-button-round {
    margin-top: var(--size-s);
  }
}

.dialog-body {
  display: flex;
  justify-content: center;
}

.dialog-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--size-s);

  app-button { flex: 1; }
}
