.grow {
  flex-grow: 1;
}

#output {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.canvas {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  background-color: var(--background-dark);
  padding-left: var(--size-s);
  padding-right: var(--size-s);
}

.background {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#rotateButton {
  position: fixed;
  right: 16px;
  bottom: 66px;
}

.dialog-body > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--size-m);
}

.dialog-footer {
  display: flex;
  flex-wrap: wrap;

  app-button {
    flex: 1 1 0;
  }
}
