@import '../../common/typography';

@include typography();

.grow {
  flex-grow: 1;
}

#output {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.canvas {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  background-color: var(--background-dark);
  padding-left: var(--size-s);
  padding-right: var(--size-s);
}

.background {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image-editing-controls {
  position: fixed;
  right: 1.6rem;
  bottom: 7.6rem;

  app-button-round {
    margin-top: var(--size-s);
  }
}

.dialog {
  background: var(--background);
  border-radius: 19px;
}

.dialog-header {
  padding: var(--size-s);
  h4 { margin: var(--size-s); }
}

.dialog-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 15rem;

  border-radius: 1.9rem;

  padding: var(--size-s);
}

.dialog-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--size-s);

  app-button { flex: 1; }
}
